package templates

templ head() {
    <meta charset="utf-8"></meta>
    <title>Discord OAuth</title>
    <meta content="website" property="og:type" />
    <meta content="#FF2800" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image"/>
    <link rel="stylesheet" href="static/style.css"></link>
}